<h2><b>Events</b></h2>
<hr>

<div class="d-flex flex-row align-items-center flex-wrap">
  <div class="mb-2 my-1 me-sm-2">
    <label>Filter: </label>
  </div>
    <input
    type="text"
    class="form-control mb-2 my-1 me-sm-2 w-auto"
    placeholder="search"
    [(ngModel)]="filterList"
    >
</div>
<!-- <h3>Filter: {{filterList}}</h3> -->
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm"
        (click)="changeImageState()">
          {{!showImage ? 'Show' : 'Hide'}}
        </button>
      </th>
      <th>#</th>
      <th>Theme</th>
      <th>Local</th>
      <th>Date</th>
      <th>Qty People</th>
      <th>Batch</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="eventsFiltereds && eventsFiltereds.length">
      <tr *ngFor="let event of eventsFiltereds">
        <td>
          <img [collapse]="!showImage"
          [isAnimated]="true"
          src="/assets/{{event.imageURL}}"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
          >
        </td>
        <td>{{event.eventId}}</td>
        <td>{{event.theme}}</td>
        <td>{{event.local}}</td>
        <td>{{event.eventDate}}</td>
        <td>{{event.amountPeople}}</td>
        <td>{{event.batch}}</td>
        <td>{{event.Options}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm mr-2">Edit</button>
          <button type="button" class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
  </tbody>
  <tfoot *ngIf="!eventsFiltereds.length">
    <tr>
      <td colspan="8" class="text-center">
        <h6>Nenhum evento encontrado!</h6>
      </td>
    </tr>
  </tfoot>
</table>
