<h2>Events</h2>
<hr>

<form action="" class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mb-2 mr-2" placeholder="buscar">
    <button class="btn btn-outline-success">Search</button>
  </div>
</form>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Theme</th>
      <th>Local</th>
      <th>Date</th>
      <th>Qty People</th>
      <th>Batch</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
